@import '~antd/dist/antd.dark.less';
@import '~antd/dist/antd.less';

@ohmi-blue: #C0E0DE;

@icon-color: @ohmi-blue;
@divider-color: @ohmi-blue;
@layout-body-background: transparent;

<<<<<<< HEAD

html {
    scroll-behavior: smooth;
  }
  
a{
    display: block;
    overflow: hidden;
}
.vert-move{
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
    display: block;
  
=======
.ant-card-meta-title, .ant-card-meta-description {
  white-space: pre-line;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
  display: block;

}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
>>>>>>> b68ce851b15708b98d597753ee37a0c2e1838780
  }
  100% {
    transform: translateY(-10px);
  }
<<<<<<< HEAD
  @keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }

  #tutorial{
      padding-top: calc(5em + 20px);
  }
=======
}
>>>>>>> b68ce851b15708b98d597753ee37a0c2e1838780
